/* --- GENERIC --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container-box {
    width: 60%;
    margin: 0 auto;
}

.inline {
    display: inline-block;
}

.button-small{
    background-color: #0061ff;
    color: white;
    padding: 8px;
    text-decoration: none;
}


.button-large{
    background-color: #0061ff;
    color: white;
    padding: 8px 13px 8px 13px;
    text-decoration: none;
}

.button-gratis {
    background-color: #0061ff;
    width: 100%;
    color: white;
    padding: 9px;
    text-align: center;
    margin: 30px 0px;
}

.button-transparent {
    border: 1px solid black;
    padding: 10px;
    width: 150px;
}

.button-white{
    padding: 10px;
    max-width: 218px;
    background-color: white;
    color: black;
}

a {
    color: #0061ff;
}

.spazio-bianco{
    width: 100%;
    height: 250px;
}

/* --- HOVER --- */

.button-small:hover{
    background-color: #5898ff;
}

.button-large:hover{
    background-color: #5898ff;
}

.button-gratis:hover{
    background-color: #5898ff;
}

.button-transparent:hover{
    background-color: #0061ff;
    color: white;
    border: 1px solid transparent;
}

.button-white:hover{
    background-color: #0061ff;
    color: white;
}

.menu-left > a:hover {
    border-bottom: 1px solid black;
}

.menu-right > a:hover {
    border-bottom: 1px solid black;
}

.answer-description{
    display: none;
}

.box-answer:hover  .answer-description{
    display: block;
    font-weight: 200;
    margin-bottom: 20px;
    font-size: 15px;
}

.box-answer:hover i {
    transform: rotate(180deg);
}

.jumbo-bottom, h1 {
    animation: jumbo-bottom 3s ease 0s 1 normal forwards;
}

/* --- ANIMATION --- */

@keyframes jumbo-bottom {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}






/* --- HEADER --- */

header {
    background-color: white;
    box-shadow: 0px 1px 5px 3px lightgray;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.menu-left {
    display: flex;
    align-items: center;
    height: 70px;
}

.menu-left > a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid transparent;
}

.menu-right {
    display: flex;
    align-items: center;
}

.menu-right > a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid transparent;

}


/* --- MAIN --- */


.jumbotron {
    background: linear-gradient(180deg, rgba(180,208,231,1) 80%, rgba(255,255,255,1) 80%);
    height: 930px;
}

.img-jumbo {
    max-width: 750px;
}

.cont-jumbo {
    width: 50%;
    margin: 0 auto;
}

.cont-jumbo > h1 {
    font-size: 60px;
    font-weight: 800;
    padding-top: 150px;
}

.jumbo-bottom {
    display: flex;
    padding-top: 70px;
}

.jumbo-left {
    width: 30%;
}

.jumbo-right {
    width: 70%;
}

/* --- SECTION 1 --- */

.piano-business{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.tariffa-1, .tariffa-2, .tariffa-3 {
    width: calc(100% / 3.3);
    min-height: 600px;
    border: 1px solid darkgray;
}

.titolo-tariffa {
    text-align: center;
    border-bottom: 1px solid darkgray;
    padding: 10px;
}

.testo-tariffa {
    width: 80%;
    margin: 0 auto;
}

.testo-tariffa > ul {
    list-style-type: none;
}

.testo-tariffa > hr {
    width: 30%;
}

/* --- SECTION 2 --- */


.contact-enterprise {
    border: 1px solid darkgray;
    min-height: 300px;
    margin-top: 84px;
}

.testo-button {
    display: flex;
    justify-content: space-between;
    
}

.testo-team{
    width: 85%;
    margin: 0 auto;
}

/* --- SECTION 3 --- */


.box-partner {
    display: flex;
    margin-top: 200px;
    justify-content: space-between;
}

.lato-sx {
    height: 500px;
}

.img-partner {
    width: 100%;
    height: 100%;
}


.lato-dx {
    width: 40%;
}

.cont-tool {
    margin: 0 auto;
}

.tool-top {
 display: flex;
 justify-content: space-between;

}

.tool-bott {
    display: flex;
    justify-content: space-between;
}

.tool-1, .tool-2, .tool-3 {
    width: calc(100% / 3.2);
    height: 500px;
}

/* --- SECTION 4 --- */


.partners {
    width: 100%;
    height: 585px;
    display: flex;
}

.partner-left, .partner-central, .partner-right {
    width: calc(100% / 3);
}

.partner-left{
    display: flex;
    flex-wrap: wrap;
}

.partner-central{
    background-color: #f5f5f5;
}

.partner-right{
    display: flex;
    flex-wrap: wrap;
}

.designit{
    width: 50%;
    height: 50%;
    background-color: #a2d39b;
}

.asu{
    width: 50%;
    height: 50%;
    background-color: #61082b;
}

.florida{
    width: 50%;
    height: 50%;
    background-color: #0093ce;
    align-items: center;
}


.topps{
    width: 50%;
    height: 50%;
    background-color: #ff1c1c;
}

.world-bicycle{
    width: 50%;
    height: 50%;
    background-color: #d5001f;
}

.hearst{
    width: 50%;
    height: 50%;
    background-color: #b4d0e7;
}

.lonelyplanet{
    width: 50%;
    height: 50%;
    background-color: #0d2481;
}

.clear-channel{
    width: 50%;
    height: 50%;
    background-color: #ffd830;
}

.container-partner {
    height: 575px;
    overflow: auto;
    padding: 50px;
}


.prova-gratuita {
    height: 350px;
    background-color: #b4d0e7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box-answer {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

/* --- FOOTER --- */

footer {
    height: 500px;
    background-color: black;
    color: white;
}

.container-footer {
    width: 80%;
    margin: 0 auto 60px;
    display: flex;
    justify-content: space-evenly;
}

.item-footer {
    line-height: 50px;
    margin-top: 50px;
}

.item-footer > ul {
    list-style-type: none;
    font-size: 13px;
}

.item-footer > ul > li > a {
    text-decoration: none;
    color: white;
}

.hr-final {
    width: 66%;
    margin: 0 auto;
}

.hr-final > p {
    margin-top: 40px;
    font-size: 14px;
    letter-spacing: 1px;
    color: darkgray;
}
